:root {
    /* font-size: 16px; */
    /* font-family: 'Overpass Mono', monospace; */
    --text-primary: #dddddd;
    --text-secondary: #979797;
    --text-3: #e99d2a;
    --bg: 	#222222;
    --bg-2: #303030;
    --bg-3: #1b1b1b;
    --width: 600px;

}


html, body {
    height: 95%; /* use as much screen space as possible without creating scroll bar */
    background-color: var(--bg);
    /* font-family: Consolas; */
    font-family: 'Overpass Mono', monospace;
    color: var(--text-primary);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-2);
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-3);
}

main {
    /* margin: auto; */
    /* margin-bottom: 5rem; */
    /* padding: 1rem; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box1 {
    text-align: center;
    /* color: var(--text-secondary); */
    /* background-color: red; */
}

#title {
    color: var(--text-primary);
    font-size: 35px;
}

#date {
    color: var(--text-secondary);
}

.info {
    margin: auto;
    width: var(--width);
    display: flex;
    justify-content: space-between;
    color: var(--text-secondary);
}

#timer {
    /* margin: auto;
    position: relative;
    right: 290px; */
    /* color: var(--text-3); */
}

#acc_wpm {
    /* color: var(--text-4); */
}

/* just a div that wraps around the words textbox */
#animate {
    width: 600px;
    height: 40px;
    /* margin: auto; */
    /* position: absolute; */
    /* background-color: blue; */
}
/* so we can add a highlight to the first word */
#animate::after {
    position: relative;
    bottom: 12px;
    left: 2px;
    display: block;
    content: '';
    width: 15px;
    height: 2px;
    /* background-color: red; */
    animation: cursor_blink .5s alternate infinite;
}

@keyframes cursor_blink {
    /* 0% {background-color: black;} */
    /* 0%, 100% {background: transparent} */
    100% {background-color: var(--text-secondary);}
}
/*
#wrong {
    width: 600px;
    height: 40px;
    margin: auto;
    position: relative;
}

#wrong::after {
    position: relative;
    bottom: 12px;
    left: 4px;
    display: block;
    content: '';
    width: 15px;
    height: 2px;
    animation: cursor_wrong .5s infinite;
}

@keyframes cursor_wrong {
    0% {background-color: pink;}
}
*/
#words {
    font-size: 30px;
    color: var(--text-primary);
    resize: none;
    width: 100%;
    height: 100%;
    background-color: var(--bg-2);
    border-color: var(--bg-2);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 1px var(--bg-3); /* x-offset, y-offset, blur-radius, color */
}




#display {
    /* resize: none; don't show resize tool */
    position: relative;
    text-align: justify;
    margin: auto;
    display: block;
    background-color: var(--bg-2);
    color: var(--text-primary);
    width: 560px; /* need to account for 20px padding on left and right */
    height: 250px; 
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px 20px 10px 20px; /* top, right, bottom, left */
    box-shadow: 1px 1px 1px var(--bg-3); /* x-offset, y-offset, blur-radius, color */

}

.display-wrong {
    background-color: var(--text-secondary);
    /* color: rgba(0,0,0,0.5); */
}

#display::-webkit-scrollbar {
    width: 0.25rem;
}

#display::-webkit-scrollbar-track {
    background: var(--bg-2);
}

#display::-webkit-scrollbar-thumb {
    background: var(--bg-3);
}
   
a {
    text-decoration: none;
    color: var(--text-secondary);
}